.file_upload{
	position: relative;
	overflow: hidden;
	font-size: 1em;
	height: 3em;
	line-height: 3em;
	width: 200px;
	cursor: pointer;
	margin-top: 15px;
}
.file_upload > button{
	width: 100%;
	height: 100%;
	cursor: pointer
}

.file_upload input[type=file]{
	position: absolute;
	left: -55%;
	top: 0;
	width: 200%;
	height: 100%;
	opacity: 0;
	cursor: pointer
}