
.input-group-text {
	width: 120px;
}

.input-group-prepend__price {
	width: 90px;
}

.input-group-prepend__sign {
	width: 30px;
}

.input-group__img-preview {
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-group__img-preview img {
	max-width: 100%;
	max-height: 400px;
}