
.notification {
	position: fixed;
	display: none;
	top: 15px;
	right: 15px;
	z-index: 9999;
	background-color: #A4E0B2;
	color: #ffffff;
	padding: 15px 25px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.notification.active {
	display: block;
}

.notification span {
	color: #ffffff;
}

.notification strong {
	padding-right: 15px;
}